@media (max-width:1400px) {

    #sec1 {
        display: inline;
    }


    img {
        width: 100%;
        height: auto;
    }

    .cv,.portfolio{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

}

@media(max-width:700px) {
    #container {
        position: relative;
        right: 4vw;
        display: inline;
    }

    .navbar {
        display: none;
    }

    .navbartoggle {
        display: grid;
        height: 30vh;
        width: 24vw;
        position: relative;
        right: -25vw;
        top: 20vh;
        border: 2px solid #0ef;
        backdrop-filter: blur(4px);
        background-color: #081b29;
    }

    .navbar a {
        position: relative;
        top: 7px;
        z-index: 1;
        text-align: center;
    }

    #sec1 div{
        margin-top: 9.6vh;
        width: 96vw;
        margin-left: auto;
    }

}

